

:root {
  --basic-very-dark-gray: #323232;
  --basic-dark-gray: #999999;
  --basic-gray: #ababab;
  --basic-dark-grayish-cyan: #849d8f;
  --basic-very-light-gray: #ededed;
  --basic-light-grayish-cyan: #d7f2e3;
  --basic-grayish-yellow: #d3d3d2;
  --basic-light-grayish-yellow: #f8f7f4;
  --basic-light-grayish-lime-green: #fbfcfb;
  --basic-dark-grayish-blue: #8996a6;
  --basic-dark-grayish-orange: #9d8b84;
  --basic-bright-blue: #2e88e4;/*курсор внутри поля*/
  --basic-dark-dark-red: #942718;
  --basic-dark-red: #ac1000;
  --basic-strong-red: #d84732;
  --basic-bright-bright-red: #e1613e;
  --basic-bright-red: #e74a35;
  --basic-bright-red: #e84d37;/*корзина с товарами.выпадающий список наведение*/
  --basic-light-bright-red: #f26843;
  --basic-soft-red: #f58669;
  --basic-soft-soft-red: #ec6f5e;
  --basic-moderate-red: #d07058;
  --basic-very-soft-red: #f6b5a5;
  --basic-light-grayish-red: #fbded7;
  --basic-pale-orange: #ffbc9e;
  --basic-white: #ffffff;
  --basic-tovar-shadow: rgba(172, 16, 0, 0.64);
  --basic-input: rgba(178, 178, 178, 0.52);
  --basic-input-hover: rgba(178, 178, 178, 0.72);
  --basic-focus: rgba(46, 136, 228, 0.52);
  --basic-border-bottom: rgba(255, 255, 255, 0.2);
  --basic-border-list-ice: rgba(50, 50, 50, 0.2);
  --basic-scale: rgba(248, 247, 244, 0.5);
  --basic-backlight: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  --basic-price: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 100%);
  --basic-modal-close: #231f20;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-dark-grayish-cyan);
  background-repeat: no-repeat;


  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-body-catalog {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-dark-grayish-cyan);
  background-repeat: no-repeat;


  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/*   Global wrapping   */

.site-wrapper {
  min-width: 1200px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper-1 {
  background-color: var(--basic-dark-grayish-cyan);
  background-image: url(../img/slide/slider-item-1.png);
}

.site-wrapper-2 {
  background-color: var(--basic-dark-grayish-blue);
  background-image: url(../img/slide/slider-item-2.png);
}

.site-wrapper-3 {
  background-color: var(--basic-dark-grayish-orange);
  background-image: url(../img/slide/slider-item-3.png);
}

.backlight {
  min-width: 1200px;
  max-height: 656px;
  margin: 0;
  background: var(--basic-backlight);
  background-repeat: no-repeat;
  background-position: top center;
}

/*   Content wrapper   */

.container {
  min-width: 1146px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-container {
  min-width: 1146px;
  margin: 0 auto;
}

.container-catalog {
  width: 1146px;
  margin-top: 13px;
}

/* Main header */

.main-header {
  width: 1146px;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr;
}

/* Main header logo */

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-top: 9px;
}

/* Main navigation */



.main-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 992px;
  margin-top: 9px;
  gap: 20px;
  justify-self: center;
}

/* Site-navigation */

.site-navigation {
  display: flex;
  height: 30%;
  margin: 0;
  padding-top: 12px;
  padding-left: 0;
  list-style: none;
}

.site-navigation li {
  position: relative;
}

.site-navigation .giglet {
  display: block;
  margin-left: 10px;
  padding: 5px 12px;
  background: var(--basic-moderate-red);
  color: var(--basic-white);
  text-decoration: none;
  border-radius: 26px;
}

.site-navigation .giglet:hover,
.site-navigation .giglet:focus,
.site-navigation .giglet:active {
  background: var(--basic-moderate-red);
}

.site-navigation .navigation-link {
  display: block;
  color: var(--basic-white);
  margin-left: 12px;
  padding: 5px 10px;
}

.site-navigation .link-hover {
  margin-left: 10px;
  padding: 5px 12px;
}

.navigation-link:hover {
  background-color: var(--basic-white);
  color: var(--basic-very-dark-gray);
  text-decoration: none;
  border-radius: 26px;
}

.navigation-link:focus {
  outline: none;
  background: var(--basic-moderate-red);
  color: var(--basic-very-dark-gray);
  text-decoration: none;
  border-radius: 26px;
}

.navigation-link:active {
  background-color: var(--basic-very-light-gray);
  box-shadow: inset 0px 2px 1px #696969;
  border-radius: 26px;
}

/* Dropdown */

.dropdown-wrapping {
  /*display: none;*/
  flex-direction: column;
  position: absolute;
  padding-top: 5px;
  padding-left: 0;
  list-style: none;
  z-index: 1;


  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.dropdown-wrapping .dropdown-link {
  display: block;
  background-color: var(--basic-white);
  color: var(--basic-very-dark-gray);
  text-decoration: none;
  padding: 10px 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  white-space: nowrap;
}

.dropdown-content-first a:first-child {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dropdown-content-last a:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown-content-first::after {
  position: absolute;
  content: "";
  top: 37px;
  left: 5px;
  width: 128px;
  height: 0;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

.dropdown-link:hover {
  background-color: var(--basic-light-grayish-red);
}

.dropdown-link:focus,
.dropdown-link:active {
  background: var(--basic-very-soft-red);
}

.dropdown:focus-within .dropdown-wrapping,
.dropdown:hover .dropdown-wrapping {
  /*display: flex;*/
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}

/* Consumer-navigation */

.consumer-navigation {
  display: grid;
  grid-template-columns:  min-content min-content min-content;
  column-gap: 10px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  list-style: none;
}

.consumer-navigation-wrapper {
  display: grid;
  justify-content: right;
}

.consumer-navigation a {
  text-decoration: none;
  color: var(--basic-white);
}

.search-button:hover circle {
  fill-opacity: 1;
}

.search-button:hover path {
  fill: var(--basic-very-dark-gray);
}

.navigation-search:focus-within .consumer-navigation-search,
.navigation-search:hover .consumer-navigation-search {
  /*display: block;*/
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}

.navigation-search {
  position: relative;
}

/* Search */

.consumer-navigation-search {
  /*display: none;*/
  position: absolute;
  top: 35px;
  right: 0;
  width: 341px;
  height: 84px;
  padding: 0;
  list-style: none;
  background: var(--basic-light-grayish-yellow);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  z-index: 1;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.consumer-search {
  padding: 20px 15px;
}

.consumer-search p {
  margin: 0;
}

.consumer-navigation-search input {
  width: 311px;
  padding: 12px 20px;
  background: var(--basic-white);
  font-size: 16px;
  line-height: 20px;
  color: var(--basic-very-dark-gray);
  border: 2px solid var(--basic-grayish-yellow);
  box-sizing: border-box;
  outline: none;
  border-radius: 4px;
}

.consumer-search input:hover {
  outline: none;
  border: 2px solid  var(--basic-input-hover);
}

.consumer-search input:focus {
  outline: none;
  border: 2px solid var(--basic-focus);
}

/* Entrance */

.entrance {
  position: relative;
  width: 92px;
  height: 32px;
}

.entrance-button:hover rect {
  fill-opacity: 1;
}

.entrance-button:hover path {
  fill: var(--basic-very-dark-gray);
}

.entrance:focus-within .entrance-login,
.entrance:hover .entrance-login {
  /*display: block;*/
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}

/* Entrance-Registration */

.entrance-login {
  /*display: none;*/
  position: absolute;
  top: 35px;
  right: 0;
  width: 277px;
  height: 214px;
  padding: 0;
  list-style: none;
  background: var(--basic-light-grayish-yellow);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  z-index: 1;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapping-modal {
  width: 241px;
  padding: 20px 17px 22px 19px;
}

.login-form p {
  margin: 0;
}

.entrance-login h2 {
  margin: 0;
  padding: 0;
  color: var(--basic-very-dark-gray);
}

.entrance-login .login-form {
  display: grid;
  gap: 20px;
}

.entrance-login input {
  width: 241px;
  padding: 12px 20px;
  padding-left: 10px;
  background: var(--basic-white);
  border: 2px solid var(--basic-grayish-yellow);
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.entrance-login input:hover {
  outline: none;
  border: 2px solid var(--basic-input-hover);
}

.entrance-login input:focus {
  outline: none;
  border: 2px solid var(--basic-focus);
}

.entrance-login-button {
  width: 103px;
  padding: 10px 0;
  font-size: 18px;
  line-height: 16px;
}

.registration {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.registration a {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: var(--basic-very-dark-gray);
  text-decoration: underline;
}

.registration .restor {
  margin-bottom: 10px;
}

/* Basket */

.basket {
  width: 92px;
  height: 32px;
}


/* Basket-Catalog */

.basket-catalog {
  position: relative;
  width: 118px;
  height: 32px;
  background: var(--basic-white);
  border-radius: 20px;
}
.basket-catalog:focus-within .basket-of-goods,
.basket-catalog:hover .basket-of-goods {
  /*display: block;*/
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;
}

/* Table */

.basket-of-goods {
  /*display: none;*/
  position: absolute;
  top: 35px;
  right: 0;
  width: 539px;
  padding: 0;
  padding-bottom: 7px;
  list-style: none;
  background: var(--basic-light-grayish-yellow);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.basket-of-goods img {
  border-radius: 50%;
}

.basket-of-goods-table {
  width: 510px;
  margin: 0 auto;
  border-collapse:separate;
  border-spacing: 10px;
}

.basket-of-goods-table td {
  padding-top: 2px;
}

.basket-of-goods .text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: var(--basic-very-dark-gray);
  padding-top: 5px;
}

.basket-of-goods-table .text-line {
  padding-top: 20px;
}

.text-bottom {
  border-bottom: 1px solid #CACAC7;
}

.basket-of-goods-total {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  text-align: right;
}

.button-wrapper {
  text-align: right;
}

.shopping-cart-button {
  width: 172px;
  height: 44px;
}

.text span {
  color: var(--basic-dark-gray);
}

/* Navigation-info */

.consumer-navigation-info {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  justify-self: right;
}

.info p {
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 16px;
}

.info a {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  color: var(--basic-white);
}

/* Breadcrumbs */

.breadcrumbs {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 95px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.breadcrumbs li {
  margin-right: 8px;
}

.breadcrumbs a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

.breadcrumbs a:hover {
  color: var(--basic-pale-orange);
}

.breadcrumbs-current {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-top: 3px;
}

/* Filters */

.filters {
  width: 1146px;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 40px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  width: 869px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  margin-left: 15px;
  margin-bottom: 6px;
  border: none;
}

fieldset:first-child,
fieldset:nth-child(4n) {
  margin-left: 0;
}

.filter-item legend {
  margin-left: 15px;
  margin-bottom: 7px;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter input {
  margin-top: 10px;
}

/* Sorting */

.sorting-filter {
  display: flex;
  width: 196px;
  height: 36px;
  border-radius: 20px;
}

.sorting-filter select {
  display: block;
  width: 196px;
  padding-left: 15px;
  -webkit-appearance: none;/* Chrome */
  -moz-appearance: none;/* Firefox */
  appearance: none;/* убираем дефолнтные стрелочки */
  overflow: hidden;
  border: none;
  border-radius: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-border-bottom);
  background-image: url(../img/png/arrow-white.png);
  background-repeat: no-repeat;
  background-position: 170px 13px;
  color: var(--basic-white);
}

.sorting-filter option {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.sorting-filter select:focus,
.sorting-filter select:active {
  outline: none;
  border: none;
  background-color: var(--basic-white);
  background-image: url(../img/png/black-arrow.png);
  background-repeat: no-repeat;
  background-position: 170px 13px;
  color: var(--basic-very-dark-gray);
}

/* Range */

.range-filter {
  width: 218px;
}

.filter-items legend {
  margin: 0;
}

.range-controls {
  position: relative;
  height: 20px;
  padding-top: 18px;
  padding-left: 21px;
  padding-right: 21px;
  border-radius: 20px;
  background-color: var(--basic-border-bottom);
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-scale);
}

.range-controls .bar {
  width: 65%;
  margin-left: 15px;
  height: 2px;
  background-color: var(--basic-light-grayish-yellow);
}

.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 9px solid var(--basic-white);
  background-color: var(--basic-gray);
  border-radius: 50%;
}

.range-controls .toggle-min {
  left: 35px;
}

.range-controls .toggle-max {
  left: 130px;
}

.price-controls {
  position: relative;
  display: flex;
  margin-left: 15px;
  margin-bottom: 7px;
}

.price-controls label {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.price-controls input {
  width: 25px;
  margin: 0;
  padding: 0;
  margin-left: 5px;
  outline: none;
  border: none;
  background: var(--basic-price);
  color: var(--basic-white);
}

.price-controls .price-line {
  position: absolute;
  top: 7px;
  left: 82px;
  width: 7px;
  height: 2px;
  background-color: var(--basic-white);
}

.price-controls .max-price {
  margin-left: 9px;
}

/* Radio */

.radio-control {
  width: 425px;
  height: 36px;
  background-color: var(--basic-border-bottom);
  border-radius: 20px;
}

.radio-control .control-fat {
  display: flex;
}

.filter-radio {
  padding-left: 50px;
}

.filter-option label {
  position: relative;
  display: block;
  margin-top: 10px;
  text-align: center;
  user-select: none;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -4px;
  width: 16px;
  height: 16px;
  border: 4px solid var(--basic-white);
  border-radius: 50%;
  opacity: 0.8;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: -27px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-white);
  border-radius: 50%;
  opacity: 0.8;
}

/* Checkbox */

.checkbox-control {
  width: 711px;
  height: 36px;
  background-color: var(--basic-border-bottom);
  border-radius: 20px;
}

.checkbox-control .control-filler {
  display: flex;
}

.filter-checkbox {
  padding-left: 55px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 17px;
  height: 16px;
  border: 2px solid var(--basic-white);
  border-radius: 3px;
  opacity: 0.8;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;
  width: 24px;
  height: 24px;
  background-image: url("../img/svg/input-checkbox.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  content: none;
}

.filter-item .filler {
  margin-bottom: 11px;
}

.filters button {
  width: 144px;
  height: 36px;
  margin-top: 28px;
  margin-left: 14px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  color: var(--basic-white);
}

.filters button:hover {
  background: var(--basic-white);
  color: var(--basic-very-dark-gray);
}

.filters button:focus {
  box-shadow: inset 0px 2px 1px #696969;
  border: none;
  outline: none;
}

/*Слайд*/

.slider {
  position: relative;
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 40px;
  padding-top: 280px;
  text-align: center;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: var(--basic-light-bright-red);
  background: linear-gradient(to bottom, var(--basic-light-bright-red), var(--basic-bright-red));
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.slide-button:hover {
  background: linear-gradient(to bottom, var(--basic-soft-red), var(--basic-soft-soft-red));
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-button:active {
  background: linear-gradient(to bottom, var(--basic-strong-red), var(--basic-bright-bright-red));
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* Листалка */

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 20;
  display: flex;
  width: 79px;
  justify-content: space-between;
}

.slider-controls button {
  padding: 0;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls .current {
  background-color: var(--basic-white);
}

/*Предложения*/

.proposal {
  display: grid;
  width: 1146px;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.proposal h2 {
  font-size: 35px;
  line-height: 41px;
  margin: 16px;
}

.proposal p {
  font-size: 18px;
  line-height: 22px;
  margin: 16px 16px 10px;
}

.raspberry {
  display: grid;
  width: 560px;
  border-radius: 16px;
  background-image: url(../img/fons/crimson-fon.jpg);
  background-repeat: no-repeat;
}

.raspberry-button {
  width: 164px;
  padding: 10px 0;
  margin: 20px  22px 22px;
  font-size: 18px;
  line-height: 24px;
  justify-self: end;
}

.chocolate-bars {
  display: grid;
  width: 560px;
  border-radius: 16px;
  background-image: url(../img/fons/chocolate-fon.jpg);
  background-repeat: no-repeat;
}

.chocolate-bars-button {
  width: 191px;
  padding: 10px 0;
  margin: 20px  22px 22px;
  justify-self: end;
}

/*Список мороженого*/

.tovar {
  display: grid;
  width: 1146px;
  margin: 0 auto;
}

.tovar-catalog {
  border-bottom: 1px solid var(--basic-border-bottom);
}

.tovar-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.items {
  width: 286px;
  height: 402px;
  list-style: none;
}

.items .weight {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  top: 160px;
}

.items:hover {
  margin-right: 0;
  background: var(--basic-border-bottom);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.items:hover .tovar-button {
  /*display: block;*/
  clip: auto;
  width: auto;
  height: auto;
  margin: 0;

  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 16px;
  margin-bottom: 20px;
}

.items img {
  border-radius:50%;
}

.items a {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
  color: var(--basic-white);
}

.items span {
  font-size: 30px;
  line-height: 35px;
}

.normal-state {
  /*position: absolute;*/
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 267px;
  margin-top: 6px;
  margin-left: 10px;
  object-fit: contain;
}

.normal-state .text {
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
}

.text b {
  font-weight: inherit;
  border-bottom: 1px solid var(--basic-border-bottom);
  padding-bottom: 2px;
}

.hit {
  position: absolute;
}

.last-button {
  margin-top: 22px;
}

.tovar-button {
  /*display: none;*/
  margin: 0 auto;
  margin-top: 10px;
  background: linear-gradient(180deg, var(--basic-light-bright-red) 0%, var(--basic-bright-red) 100%);
  box-shadow: 0px 2px 2px var(--basic-tovar-shadow);
  border-radius: 50px;
  padding: 10px 16px;
  margin-bottom: 20px;
  z-index: 1;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.tovar-button:hover {
  background: linear-gradient(0deg, var(--basic-border-bottom), var(--basic-border-bottom)), linear-gradient(180deg, var(--basic-light-bright-red) 0%, var(--basic-bright-red) 100%);
  box-shadow: 0px 2px 2px var(--basic-dark-red);
}

.tovar-button:focus,
.tovar-button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, var(--basic-light-bright-red) 0%, var(--basic-bright-red) 100%);
  box-shadow: inset 0px 2px 2px var(--basic-dark-dark-red);
}

/* Features */

.features {
  display: grid;
  width: 1146px;
  background: url(../img/fons/vafly-fon.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.features-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.features h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-very-dark-gray);
  padding: 24px 131px 7px 20px;
  margin: 0;
}

.features-item {
  list-style: none;
  margin-left: 20px;
}

.features-item-list {
  display: grid;
  width: 539px;
  margin: 0;
  grid-template-columns: min-content 1fr;
  gap: 10px;
}

.features-item p,
.news p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-very-dark-gray);
  margin: 5px 0 20px 0;
}

/* Blog */


.blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 26px;
  width: 1146px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.news {
  width: 560px;
  padding: 0;
  background-image: url(../img/fons/strawberry-fon.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.blog-news {
  width: 300px;
  padding-bottom: 30px;
}

.news p {
  margin: 23px 0 15px 20px;
}

.news h2 {
  margin: 0;
  margin-left: 20px;
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-very-dark-gray);
}

.news a {
  text-decoration-color: var(--basic-very-dark-gray);
}

.news a:hover,
.news h2:hover {
  text-decoration-color: var(--basic-pale-orange);
  color: var(--basic-pale-orange);
}

.subscription {
  width: 560px;
  background: url(../img/fons/substrate.png) no-repeat 5px 6px,
              url(../img/fons/mail-fon.jpg) no-repeat;
  border-radius: 16px;
}

.subscription p {
  margin: 29px 16px 47px 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark-gray);
}

.subscription-to-newsletter {
  margin: 0 0 30px 20px;
}

.subscription-to-newsletter input {
  width: 368px;
  padding: 12px 20px;
  border: 2px solid var(--basic-input);
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.subscription-to-newsletter input:hover {
  outline: none;
  border: 2px solid var(--basic-input-hover);
}

.subscription-to-newsletter input:focus {
  outline: none;
  border: 2px solid var(--basic-focus);
}

.button-subscription {
  width: 130px;
  margin-left: 10px;
  padding: 10px 0;
}

.button {
  font: inherit;
  align-items: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  border: none;
  outline: none;
  text-decoration: none;
  color: var(--basic-white);
}

.button:hover,
.gallery-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
              linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.button:active,
.gallery-button:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
  border-radius: 70px;
}

/* Map */

.contact {
  position: relative;
  width: 1200px;
  height: 430px;
  margin: 0 auto;
  background: url(../img/icons/morozhenko-carta.svg) no-repeat 265px 135px,
              url(../img/fons/cart.png) no-repeat;
}

.contact .contact-wrap {
  width: 1146px;
  display: grid;
  grid-template-columns: 1fr;
}

.address {
  position: absolute;
  top: 50px;
  left: 850px;
  display: flex;
  flex-wrap: wrap;
  width: 303px;
  height: 306px;
  justify-self: right;
  border-radius: 16px;
  background-color: var(--basic-white);
  color: var(--basic-very-dark-gray);
}

.address p {
  margin: 0;
  margin-left: 25px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.address p:first-child {
  margin-top: 32px;
}

.address p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.address p:nth-child(3) {
  margin-bottom: 25px;
}

.contacts-phone {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-very-dark-gray);
  text-decoration: none;
}

.contacts-button {
  width: 253px;
  margin-left: 25px;
  margin-bottom: 31px;
  padding: 10px 0;
}

/* Pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 5px 10px;
  border-radius: 50%;
  color: var(--basic-white);
  text-decoration: none;
}

.pagination-item a:hover {
  color: var(--basic-white);
  background-color: var(--basic-border-bottom);
}

.pagination-item a:focus,
.pagination-item a:active {
  color: var(--basic-very-dark-gray);
  background-color: var(--basic-white);

}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-very-dark-gray);
  background-color: var(--basic-white);
}

.pagination-item-back a,
.pagination-item-onward a {
  display: block;
  margin-right: 5px;
  padding: 5px 10px;
}

.pagination-item-onward a {
  margin-right: 0;
  padding-right: 0;
}

/* Main footer */

.main-footer {
  display: grid;
  min-width: 1200px;
  margin-top: 18px;
}

.main-footer h2 {
  margin: 0;
}

.main-footer-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1146px;
  margin: 0 auto;
}

.footer-social,
.footer-documents {
  list-style: none;
  margin: 0;
}

.footer-social {
  margin: 15px 0 35px 0;
  padding: 0;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-dark-grayish-cyan);
}

.social-button:hover path,
.social-button:focus path {
  fill-opacity: 1;
}

.footer-documents {
  margin: 15px 0 32px 0;
}

.footer-social li {
  display: inline-block;
  margin-left: 5px;
}

.footer-documents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
}

.footer-documents-list-item {
  padding-left: 20px;
}

.footer-documents svg {
  padding-right: 5px;
}

.footer-documents a {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-documents a:hover,
.footer-copyright-link:hover {
  color: var(--basic-pale-orange);
}

.footer-documents span {
  font-weight: bold;
}

.footer-copyright {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  justify-self: end;
}

.footer-copyright p {
  margin: 8px  0 26px 0;
}

.footer-copyright-link {
  color: var(--basic-white);
}

/* Modal-contact */

.modal-contact {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: none;
  width: 477px;
  height: 441px;
  background: var(--basic-light-grayish-yellow);
  background-position: 0 0;
  background-repeat: repeat;
  border-radius: 6px;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-contact h2 {
  margin: 0;
  margin: 20px 0 26px 24px;
  color: var(--basic-very-dark-gray);
}

.modal-form p:nth-child(2) {
  margin: 20px 0;
}

.modal-contact input {
  width: 267px;
  padding: 12px 20px;
  margin-left: 24px;
  padding-left: 10px;
  background: var(--basic-white);
  border: 2px solid var(--basic-input);
  border-radius: 4px;
  box-sizing: border-box;
}

.modal-contact textarea {
  position: relative;
  width: 428px;
  height: 154px;
  margin-left: 24px;
  margin-bottom: 22px;
  padding-top: 10px;
  padding-left: 10px;
  background: var(--basic-white);
  border: 2px solid var(--basic-input);
  border-radius: 6px;
  box-sizing: border-box;
  resize: none;
}

.modal-contact input:hover,
.modal-contact textarea:hover {
  outline: none;
  border: 2px solid var(--basic-input-hover);
}

.modal-contact input:focus,
.modal-contact textarea:focus {
  outline: none;
  border: 2px solid var(--basic-focus);
}

.modal-contact-button {
  position: absolute;
  bottom: 25px;
  right: 26px;
  width: 140px;
  padding: 10px 0;
}

.modal ::placeholder {
  padding-left: 10px;
}

/* Modal close */

.modal-close {
  position: absolute;
  top: 13px;
  left: 440px;
  width: 18px;
  height: 17px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 17px;
  background-image: url(../img/svg/X-big.svg);
}

.modal-close:focus,
.modal-close:active {
  outline: none;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
